<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <ul class="nav nav-tabs col-xs-12">
          <li role="presentation"><a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a></li>
          <li role="presentation"><a href="/students">Students</a></li>
          <li role="presentation"><a href="/wiki">Wiki</a></li>
          <li role="presentation"><a href="/#">Classroom</a></li>

            <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Student</a></p>


      </ul>

    </div>
</nav>
