/** {
  border: 1px solid hotpink;
}*/

body {
  font-family: 'Raleway', sans-serif;
}

.navbar-default, .nav, .navbar-default .navbar-text, .navbar-link, .glyphicon.glyphicon-home  {
  padding-top: .5rem;
  background-color: #38676D;
  color: white;
}

h1, h2 {
  font-family: 'Give You Glory', cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

.main-img {
  width: 100%;
  height: auto;
}

.main-nav {
  margin-top: 70%;
  margin-bottom: 25%;
  text-align: center;
}

.btn.btn-default {
  background-color: #38676D;
  color: white;
}

.profiles {
  text-align: center;
}


.wiki-header {
  height: 10rem;
}

.wiki-nav {
  vertical-align: bottom;
  background-color: white;
  color: black;
}

.wiki-img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.welcome {
  padding: 1rem;
  border: 1px solid black;
  margin-bottom: 20%;
}
