<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 profiles">
          <h1>Student Profiles</h1>
        </div>
      </div>
        <!-- page of images linked to individual profiles -->
      <div class="row">

            <div class="col-xs-8 ">
            <% for (let i = 0; i < students.length; i++){ %>
              <section>
              <a href="/students/<%=students[i].id%>">
              <img class="img-responsive img-thumbnail index-images" src="<%=students[i].img%>"/></a>
              </section>
              <section>
                <%=students[i].firstName%> <%=students[i].lastName%>
                </section>
            <% } %>
            </div>
      </div>
    </div>
  </body>
</html>
