<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="row wiki-header">
        <nav class="wiki-nav">
          <div class="container">
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="#">Writing</a></li>
              <li role="presentation"><a href="#">Poetry</a></li>
              <li role="presentation"><a href="#">Fiction</a></li>
              <li role="presentation"><a href="#">Writers</a></li>
            </ul>
          </div>
        </nav>

      </div>

      <div class="row">
        <div class="col-xs-8">
          <section class="jumbotron welcome">
            <h2>Welcome to the class Wiki!</h2>
            <h4>Here, we're building on course texts and class discussions. The goal is to have a student-created resource for the course. You can already find articles on poetry, fiction, and writing that I've mentioned in class.</h4>

            <h4>You are required to submit either 1 full article or contribute to 3 during the course of the semester. Find a great writing exercise? Awesome! Add it to the wiki, under "Writing Exercises." Love a particular poet or author? Make sure they have an article under "Writers." This is your space. Have fun with it!</h4>
            <br/>
            <p><a class="btn btn-info btn-lg" role="button" href="/wiki/new">Add an Article</a></p>
          </section>


        </div>

        <div class="col-xs-4">
          <img class="wiki-img img-responsive img-thumbnail" src="https://static.pexels.com/photos/316465/pexels-photo-316465.jpeg" alt="create"/>

          <section class="post-list">
            <% for (let i=0; i < wikis.length; i++){ %>
              <a href="/wiki/<%=wikis[i].title%>"><%=wikis[i].title%></a>
            <% } %>
          </section>
        </div>

      </div>
    </div>
  </body>
</html>
