<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <%=wiki.title%>
      <br/>
      by: <%=student.firstName%> <%=student.lastName%>
      <br/>
      <%=wiki.article%>
    </div>
  </body>
</html>
